body {
	padding: 0 0 0 0;
}
.header {
	padding: 10px 10px 10px 10px;
	background-color: #b56663;
}
.header a {
	color: #ffffff;
}
.main-content {
	  width: 500px;
	  padding: 20px;
	  border: 1px solid #dddddd;
	  margin: 30px auto 0 auto;
}
h1 {
	color: #ffffff;
	margin: 0 0 15px 0;
	text-align: center;
}
h2 {
	  margin: 10px 0 20px 0;
	  text-align: center;
}
.nav {
	text-align: center;
	padding-left: 0;
}
.nav a {
	color: #ffffff;
	text-decoration: none;
}
.nav li {
	display: inline;
}
